// Fonts
$default-fonts: "Roboto", "Helvetica", "Arial", sans-serif;
$primary-font: 'Rubik', $default-fonts;
// Colors
$dark-bg-color-1: #212121;
$dark-bg-color-2: #303030;
$primary-color: #0479df;
$secundary-color: #ffffff;