@import './styles/variables';
@import './styles/mixins';

#root {
  background-color: $dark-bg-color-1;
  @include flex-full-center();

  .App {
    @include flex-full-center();
    flex-direction: column;
    width: 70%;
    border-radius: 2em;
    border: .5px solid $secundary-color;
    background-color: $dark-bg-color-2;
    font-family: $primary-font;
  }
}